<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>AServlet</servlet-name>
    <servlet-class>cn.itcast.web.servlet.AServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BServlet</servlet-name>
    <servlet-class>cn.itcast.web.servlet.BServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>AServlet</servlet-name>
    <url-pattern>/AServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BServlet</servlet-name>
    <url-pattern>/BServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>AFilter</filter-name>
  	<filter-class>cn.itcast.web.filter.AFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AFilter</filter-name>
  	<url-pattern>/AServlet</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>BFilter</filter-name>
  	<filter-class>cn.itcast.web.filter.BFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>BFilter</filter-name>
  	<url-pattern>/AServlet</url-pattern>
 	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
</web-app>
